@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"');


body{
    margin: 0px
}

header .header-banner {
    background-image: url("bg-avaleht.png");
    width: 100%;
    height: calc(100vh - 500px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

header .header-banner_meist {
    background-image: url("bg-meist-full.png");
    width: 100%;
    height: calc(100vh - 500px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 60px;
    color: #ffffff;
    line-height: 50px;
    text-align: left;
    padding-left: 80px;
    padding-top: 100px;
    padding-bottom: 40px;
}

.header-text_meist{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 60px;
    color: #ffffff;
    line-height: 50px;
    text-align: left;
    padding-left: 80px;
    padding-top: 200px;
    padding-bottom: 40px;
}

.button{
    border: 1px outset white;
    background-color: white;
    height: 80px;
    width: 400px;
    margin-left: 80px;
    border-radius: 40px;
    opacity: 95%;
    margin-bottom: 70px
}

header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #5b368f;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

.topnav {
    overflow: hidden;
    background-color: white;
    position: fixed;
    width: 100%;
    text-align: left;
    vertical-align: middle;
}

.topnav-right{
    float:right;
    padding-top: 20px;
    padding-right: 50px;
}


.topnav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #492361;
    font-weight: 700;

}

.topnav .icon {
  display: none;
}

.logo {
   width: 150px;
   padding-top: 25px;
   padding-left: 30px;
}

.cart {
    width: 50px;
}


@media screen and (max-width: 700px) {
  .topnav a:not(:first-child){display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;

  }
}

.meist-item{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    padding-top: 100px;
}

.meist-menu h1, p {
    color: #47525E;
    font-family: 'Poppins', sans-serif;
}

.meist-menu h1 {
    font-size: 40px;
    line-height: 50px;
    color: #ea7752;
}

.meist-item p {
    font-size: 20px;
    line-height: 30px;
}

.item-img {
    width: 30%;
    min-width: 300px;
    align-content: center;
    padding-top: 60px;
    padding-left: 30px;
}

.item-img img{
    width: 100%;
}

.item-text {
    width: 35%;
    min-width: 300px;

}

.item-text2 {
    width: 40%;
    padding: 40px;
    min-width: 300px;
    padding-left: 100px;
}


footer {
display: flex;
flex-flow: row wrap;
color: #ea7752;
background-color: #fff9f2;
}

h2 {
font-weight: bold;
font-size: 40px;
font-family: 'Poppins', sans-serif;
}

.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
list-style: none;
padding-bottom: 10px;
}


.infoList {
color: #111111;
font-family: 'Poppins', sans-serif;
font-size: 18px;
}

#space{
    padding-bottom: 5px;
}

#bold{
font-weight: bold;
color: #111111;
font-family: 'Poppins', sans-serif;
font-size: 18px;
}

.lingid a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #5d3f92;
    text-decoration: none;
}

.footerLogo {

padding-left: 40px;
}


.info {
display: flex;
flex: 1 0%;
flex-flow: row wrap;
justify-content: space-evenly;
gap: 100px;
}

#fb{
    padding-top: 28px;
}

@media only screen and (max-width: 700px) {
    .info {
      justify-content: flex-start;
      gap: 100px;
      margin-left: 20px;
    }
    .footerLogo{
        display: none;
    }
  }

.kategooriad {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #ea7752;
  line-height: 50px;
  text-align: left;
  padding-left: 100px;
  padding-top: 55px;
  padding-bottom: 35px;

}

.tellimus {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #ea7752;
  line-height: 50px;
  text-align: left;
  padding-left: 120px;
  padding-top: 90px;
  padding-bottom: 10px;

}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 31%;
  padding: 15px;
  padding-left: 100px;
}

.toodeRow{
  padding-left: 100px;
  padding-right: 100px;
}

.toodeRow::after {
  content: "";
  clear: both;
  display: table;
}

.toodeColumn {
  float: left;
  width: 23%;
  margin: 15px;
  box-shadow: 3px 3px 5px 5px rgba(255,249,242,.5);
}

.tellimusColumn {
  float: left;
  width: 35%;
  margin: 15px;
  padding-left: 100px;
}

.tellimusColumn1 {
  float: left;
  width: 35%;
  margin: 15px;
  padding-left: 80px;
}

.saada {
  background-color: #5d3f92;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  height: 60px;
  width: 250px;
  border: 1px outset white;
  margin-left: 80px;
  margin-bottom: 70px;
  border-radius: 40px;
}

input:focus, textarea:focus {
  outline: none;
}


@media only screen and (max-width: 700px) {
  .toodeColumn {
    width: 44%;
  }
  .toodeRow{
    padding: 10px;
  }

  .kategooriad{
    text-align: center;
    padding: 0px;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row h2{
  font-family: 'Poppins', sans-serif;
  font-size: 2vw;
  color: #5d3f92;
  position: absolute;
  top: 25%;
  padding-left: 40px;
}

.row .column{
  position: relative;
  margin: 0 auto;
}

form {
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 700px) {
  .kategooriad{
    padding-top: 40px;
  }
}

input[type="text"] {
  height: 50px;
  width: 110%;
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 1em;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  height: 150px;
  width: 110%;
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 1em;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.kohvikuInfo ul {
    padding-top: 5px;
    color: #111111;
    font-family: 'Poppins', sans-serif;
    line-height: 2;
    display: inline-block;
}

.tellimusRow2 {
    padding-left: 270px;
}

@media only screen and (max-width: 700px) {
  .row h2{
    font-size: 45px;
  }
  .column {
    width: 90%;
    padding: 15px 10px 15px 20px;
  }
  .button{
    align-items: center;
  }
}

.bg {
  width: 100%;
  background-image: linear-gradient(#fff9f2, white);
}

.tooteInfo h1{
  color: #ea7752;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.tooteInfo p{
  text-align: left;
 font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: black;
}
.tooteInfo span{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: black;
}

.space{
  padding-right: 15px;
}
