@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&subset=latin-ext');
@media only screen and (min-width: 950px) {    
    .disclaimer {
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 24px;
      color: #ffffff;
      text-transform: uppercase;
      float: left;
      margin: 0 80px;
    }    
}

body{
    margin: 0px    
}

header .header-banner {
    background-image: url("bg-avaleht.png");
    width: 100%;
    height: calc(100vh - 500px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table; 
}


header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 60px;
    color: #ffffff;
    line-height: 50px;
    text-align: left;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 40px;
}

h1 span{
    display: block;
}

.button{
    border: 1px outset white;
    background-color: white;
    height: 80px;
    width: 400px;
    margin-left: 80px;
    border-radius: 40px;
    opacity: 95%;
    margin-bottom: 70px
    
}

header h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #5b368f;
    text-align: center;
    vertical-align: middle;
    
}

.container{
    width: 90%;
    margin: @ auto;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: white;
    overflow: hidden;
    line-height: 70px;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-left: 80px;
    float: left;
    width: 150px    
}

.menu li{
    float: right;
    width: 120px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    list-style: none;
    margin-left: 30px;
}

.menu li a{
    color: #5b368f;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    display: block;
    font-size: 20px;
}

.cart{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}


footer {
    width: 100%;
    padding: 40px 40px;
    margin-top: 20px;
    overflow: hidden;
    background-color: antiquewhite
}

.disclaimer {

display: none;

}












